*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
html, body{
    width:100%;
    height:100%;
    overflow:hidden;
}

/* HEADER */
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#002244;
    color:white;
    text-align:center;
    padding:10px;
    z-index:1000;
}

header h1{
    margin-bottom:5px;
}

nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

nav button{
    margin:5px;
    padding:8px 10px;
    border:none;
    background:#0055aa;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:14px;
}

nav button:hover{
    background:#00aaff;
}
.boton {
  display: inline-block;
  padding: 12px 20px;
  background-color: #007BFF; /* color azul */
  color: white;
  text-decoration: none; /* quita el subrayado */
  border-radius: 10px;
  font-size: 16px;
}
/* CONTENEDOR PRINCIPAL */
.contenedor{
    display:flex;
    width:700%; /* 7 secciones */
    height:100vh;
    transition: transform 0.6s ease-in-out;
}

/* CADA PANTALLA */
.pantalla{
    width:100vw;
    height:100vh;
    flex-shrink:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    padding:100px 20px;
    color:white;
}

/* FONDOS */
.fondo1{
    background:url('../img/queretaro1.jpg') center/cover no-repeat;
}

.pantalla:nth-child(2){ background:#1abc9c; }
.pantalla:nth-child(3){ background:#3498db; }
.pantalla:nth-child(4){ background:#e67e22; }
.pantalla:nth-child(5){ background:#9b59b6; }
.pantalla:nth-child(6){ background:#2ecc71; }
.pantalla:nth-child(7){ background:#34495e; }

/* TEXTO */
h2{
    margin-bottom:10px;
}

p{
    max-width:600px;
}

.imagen {
  width: 30%;        /* más pequeñas */
  max-width: 150px;  /* límite */
  height: auto;
  display: block;
  margin: auto;
}

/* GALERÍA */
.galeria{
    display:flex;
    overflow:hidden;
    width:80%;
}

.galeria img{
    min-width:100%;
}

/* BOTONES EXTRA */
button.extra{
    margin-top:10px;
    background:#ff9800;
}

/* MODO OSCURO */
body.dark{
    background:#111;
}

/* RESPONSIVE (CELULAR) */
@media(max-width:768px){

    body{
        overflow:auto;
    }

    header{
        padding:8px;
    }

    nav button{
        font-size:11px;
        padding:6px;
    }

    .pantalla{
        padding:120px 10px;
    }

    img{
        width:90%;
        max-width:300px;
    }

    h2{
        font-size:20px;
    }

    p{
        font-size:14px;
    }
}
